/*Faz aplicação global do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* modo dark */
:root {
  --bg-dark: url(../img/Dark.png);
  --text-color: #d9d9d9;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../img/moon.svg);
  --highlight-color: rgba(255, 255, 255, 0.3);
}

/* modo light */
.light{
  --bg-dark: url(../img/Light.png);
  --text-color: #292929;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(../img/sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.3);
}

body {
  background: var(--bg-dark) no-repeat top center / cover;
  height: 100vh;
  color: var(--stroke-color);
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#container {
  width: 100%;
  max-width: 590px;
  margin: 55px auto 0px;
  padding: 0px 25px;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile img {
  width: 145px;
  height: 145px;
  object-fit: cover;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 25px;
}

#botao {
  position: relative;
  width: 65px;
  margin: 5px auto;
}

#botao button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background: var(--text-color) var(--switch-bg-url) no-repeat center;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  animation: slide-out 0.5s;
}

.light #botao button{
  animation: slide-in 0.5s forwards;
}

#botao button:hover {
  outline: 5px solid var(--surface-color);
  transition: all 0.3s;
}

#botao span {
  background: var(--surface-color);
  display: block;
  width: 55px;
  height: 25px;
  border: 1.5px solid var(--text-color);
  border-radius: 25px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
}

#links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border: 1px solid var(--stroke-color);
  border-radius: 5px;
  background: var(--surface-color);
  text-decoration: none;
  font-weight: bold;
  color: var(--stroke-color);
}

#links ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--);

  transition: all 0.5s;
}

#redeSocial {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 25px;
  font-size: 25px;
}

#redeSocial a {
  text-decoration: none;
  color: var(--stroke-color);
}

#footer {
  text-align: center;
  font-size: 15px;
  padding: 24px;
}

#footer a {
  text-decoration: none;
  color: var(--stroke-color);
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}